@import 'tailwindcss';

@theme {
  --color-primary: #f2a65e;
  --color-primary-hard: #ba6156;
  --color-primary-soft: #ffe478;
  --color-base: #43434f;
  --color-base-hard: #272736;
  --color-base-soft: #606070;

  --color-white: #ffffeb;
	--color-white-hard: #c2c2d1;

	--color-red: #eb564b;

  --radius: 0.5rem;
}

